<!DOCTYPE html>
<html>
	<head>
		<Title>This is a test</Title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/fullcalendar.min.css" />

		<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/fullcalendar.min.js"></script>

		<script type="text/javascript">
		$(function(){
			$('#calendar').fullCalendar({defaultView:"basicWeek"});
		});
		</script>

	</head>
	<body>
		Here's some test content.
		<div id="calendar"></div>
	</body>
</html>